@import 'icon.css';
/* default */
:where(:root) {
  --is-support-lh: initial;
  --is-support-not-lh: ;
  --leading-trim: var(--is-support-lh, calc((1em - 1lh)/2)) var(--is-support-not-lh, 0px);
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-style: unset;
  font-weight: 500;
  line-height: 1.5;
  text-align: start;
  text-spacing-trim: trim-start;
  word-break: initial;
  line-break: strict;
  overflow-wrap: anywhere;
  hyphens: auto;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

:root {
/* font */
  --font-sans: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  --font-sans-serif: "Noto Serif JP", serif;
  --base-text-unit: 16;
  --rem-ratio: calc(1rem / var(--base-text-unit));
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;
  --leading-tight: 1.3;
  --leading-snug: ;
  --leading-normal: ;
  --leading-relaxed: ;
  --leading-loose: 2;
  --tracking-tight: .02em;
  --tracking-normal: .05em;
  --tracking-medium: .07em;
/* size */
  --aspect-video: 16/9;
  --aspect-thumbnail: 1.91/1;
  --rounded-xs: 2px;
  --rounded-s: 4px;
  --rounded-m: 7px;
  --rounded-l: 30px;
/* color */
  --color-grayscale-0: #FFF;
  --color-grayscale-5: #A1A1A1;
  --color-grayscale-10: #A6A6A6;
  --color-grayscale-50: #919191;
  --color-grayscale-60: #676767;
  --color-grayscale-100: #606060;
  --color-grayscale-200: #534B42;
  --color-grayscale-250: #2F2725;
  --color-grayscale-300: #595857;
  --color-grayscale-400: #565656;
  --color-grayscale-500: #494949;
  --color-grayscale-600: #4A4A4A;
  --color-grayscale-700: #444444;
  --color-grayscale-800: #313131;
  --color-grayscale-1000: #000;
  --color-gold: #8E7B2D;
  --color-normal-gold: #867327;
  --color-medium-gold: #716315;
  --color-orange: #ED702D;
  --color-brownscale-50: #694016;
  --color-brownscale-100: #472A0E;
  --color-brownscale-150: #695200;
  --color-brownscale-200: #784F00;
  --color-yello: #FFFAD0;
  --color-pinkscale-50: #fba9ae21;
  --color-pinkscale-100: #FFE0E8;
  --color-pinkscale-150: #f398ae29;
  --color-pinkscale-200: #F58282;
  --color-pinkscale-250: #F56588;
  --color-blue-light: #E0F7FF;
  --color-bluescale-50: #013B9F;
  --color-bluescale-90: #002769;
  --color-bluescale-100: #011060;
  --pink-gradation: 90deg, rgb(255 110 101 / 1), rgb(255 113 138 / 1);
  --pink-gradation-180deg: 180deg, rgb(242 131 151 / .58), rgb(245 169 129 / .58);
  --pink-yellow-gradation-180deg: 180deg, rgb(255 54 102 / 1), rgb(232 194 33 / 1);
  --pink-orange-gradation: 90deg, rgb(236 90 125 / 1), rgb(237 112 45 / 1);
  --orange-gradation: 90deg, rgb(237 112 45 / 1), rgb(255 164 117 / 1);
  --gold-light-gradation-90deg: 90deg, rgb(172 158 100 / 1), rgb(207 199 164 / 1) 33%, rgb(198 195 178 / 1) 67%, rgb(172 158 100 / 1);
  --gold-gradation-90deg: 90deg, rgb(146 132 5 / 1), rgb(195 178 78 / 1) 68%, rgb(146 132 53 / 1);
  --gold-gradation: 210deg, rgb(107 100 70 / 1), rgb(197 183 111 / 1) 57%, rgb(102 98 82 / 1);
  --blue-gradation: 180deg, rgb(0 39 105 / 1), rgb(103 141 206 / 1);
  --purple-gradation: 130deg, rgb(245 101 136 / 1), rgb(213 166 235 / 1);
  --shine-animation-gradation: to right, rgb(255 255 255 / 0) 0%, rgba(255 255 255 / .3) 100%;
  --gold-text-gradation: 135deg, rgb(146 123 69 /  1), rgb(201 189 123 / 1) 67%, rgb(148 134 74 / 1);
  --gold-text-heavy-gradation: 130deg, rgb(146 123 69 / 1), rgb(164 148 67 / 1) 67%, rgb(99 84 21 / 1);
  --gold-background-gradation: 145deg, rgb(170 150 38 / .1), rgb(242 235 198 / .1) 38%, rgb(170 150 38 / .1);
  --gray-shadow: 0 3.3px 22.3px 0 rgb(133 133 133 / .65);
  --gray-light-shadow: 0 4px 7px 0 rgb(0 0 0 / .08);
  --gray-shadow-button: 0 1.59px 3.18px 0 rgb(0 0 0 / .25);
  --gray-medium-shadow-button: 0 3.24px 6.49px 0 rgb(0 0 0 / .34);
  --white-inset-shadow-button: inset 0 0 8.74px 0 var(--color-grayscale-0);
  --pink-shadow-button: 2.26px 2.26px 4.79px 0 rgb(231 131 131 / 1);
  --orange-shadow-button: 2.26px 2.26px 4.79px 0 rgb(255 164 117 / .71);
  --text-black-shadow: 0 -0.69px 4.15px rgb(0 0 0 / .25);
  --text-white-shadow: 0 2px 11px rgb(0 0 0 / .24), 0 0 4px rgb(255 255 255 / 1);
  --menu-black-shadow: 0 4.59px 45px rgb(0 0 0 / .25);
  --slider-black-shadow: 0 3.77px 16.77px rgb(0 0 0 / .34);
  --border-black: #011060;
  --border-light-gold: #AFAB92;
  --border-gold: #AC9E64;
  --background-base: var(--color-grayscale-0);
  --font-base: var(--color-grayscale-800);
  --underline-base: color-mix(in sRGB, currentColor, transparent 40%);
/* overflow */
  --is-horizontal: initial;
  --is-vertical: ;
/* z-index */
  --back-z-index: -1;
  --default-z-index: 1;
  --front-z-index: 2;
  --menu-z-index: 3;
/* motion time */
  --speed-quick: .3s;
  --speed-normal: .5s;
  --speed-slow: .7s;
  --speed-over-slow: .9s;
  background-color: var(--background-base);
  color: var(--font-base);
  font-feature-settings: "pkna";
  font-size: 62.5%;
  line-height: var(--leading-normal);
  letter-spacing: var(--tracking-normal);
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

* {
  box-sizing: border-box;
  min-inline-size: 0;
  border-width: 0;
  border-style: solid;
}

:where(body) {
  min-block-size: 100svb;
  margin: unset;
}

@supports not (overflow-inline:clip) {
  :where(:root,body) {
    overflow-x: var(--is-horizontal, clip);
    overflow-y: var(--is-vertical, clip);
  }
}

::backdrop {
  background-color: unset;
}

:where(h1,h2,h3,h4,h5,h6) {
  margin-block: unset;
  font-size: unset;
}

:where(:any-link) {
  color: unset;
  text-decoration-line: none;
  text-decoration-thickness: from-font;
  text-decoration-color: var(--underline-base);
  text-underline-offset: .25em;
}

::file-selector-button,
:where(button,label[for],select,[role=tab],[role=button]) {
  cursor: pointer;
}

::file-selector-button,
:where(button) {
  inline-size: fit-content;
  touch-action: manipulation;
}

::file-selector-button,
:where(button,input,select,textarea) {
  padding: unset;
  border-width: 1px;
  border-color: transparent;
  border-radius: unset;
  background-color: unset;
  color: unset;
  font: unset;
  vertical-align: middle;
  letter-spacing: unset;
  text-align: unset;
  text-transform: unset;
}

:where(ul,ol) {
  padding-inline-start: unset;
  list-style-type: "";
}

:where(p,blockquote,figure,pre,address,ul,ol,dl) {
  margin-block: unset;
}

:where(figure) {
  margin-inline: unset;
}

:where(img,video,canvas,audio,iframe,embed,object) {
  display: block flow;
  vertical-align: middle;
}

:where(img,svg,video) {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

:where(dialog) {
  overflow: unset;
  inline-size: unset;
  block-size: unset;
  max-inline-size: unset;
  max-block-size: unset;
  padding: unset;
  background-color: unset;
  color: unset;
}

/* common */
.js-fade {
  opacity: 0;
}

.js-fade.is-inview {
  opacity: 1;
  transition:  opacity var(--speed-normal);
  transition-delay: var(--speed-quick);
}

.js-fadeUp {
  opacity: 0;
  translate: 0 50px;
}

.js-fadeUp.is-inview {
  opacity: 1;
  translate: 0;
  transition: opacity var(--speed-normal);
  transition-delay: var(--speed-quick);
}
/* ----- component ----- */
.c-button {
  display: inline grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 1cap;
  align-items: center;
  inline-size: 338px;
  padding-block: 10px;
  padding-inline: 16px;
  border: 1px solid transparent;
  border-radius: var(--rounded-xs);
  color: var(--color-grayscale-0);
  font-family: var(--font-sans-serif);
  font-weight: var(--font-medium);
  vertical-align: middle;
}

.c-button::before {
  content: '';
}

.c-button::after {
  content: "";
  justify-self: end;
  inline-size: 1em;
  aspect-ratio: 1;
}

.c-button--pink {
  background-image: linear-gradient(var(--pink-gradation));
  box-shadow: var(--pink-shadow-button);
  font-size: 1.9rem;
  letter-spacing: var(--tracking-tight);
}

.c-button--pink::after {
  background: var(--arrow-pink);
}

.c-button--orange {
  border-image: linear-gradient(var(--orange-gradation)) 1;
  box-shadow: var(--orange-shadow-button);
  color: var(--color-orange);
  font-size: 1.7rem;
  letter-spacing: var(--tracking-medium);
}

.c-button--orange::before {
  background: var(--icon-note);
  justify-self: end;
  inline-size: 1em;
  aspect-ratio: 1;
}

.c-button--orange::after {
  background: var(--arrow-orange);
}

.c-curves-button {
  display: inline-grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 1cap;
  align-items: center;
  block-size: min(58px);
  inline-size: 286px;
  padding-block: 7px;
  padding-inline: 20px;
  background-color: var(--color-pinkscale-200);
  box-shadow: var(--gray-shadow-button), var(--white-inset-shadow-button);
  border: unset;
  border-radius: var(--rounded-l);
  color: var(--color-grayscale-0);
  font-family: var(--font-sans-serif);
  font-weight: var(--font-bold);
  font-style: italic;
  font-size: 2rem;
  letter-spacing: var(--tracking-normal);
  vertical-align: middle;
}

.c-curves-button::before {
  content: '';
}

.c-curves-button::after {
  content: "";
  justify-self: end;
  inline-size: 2em;
  aspect-ratio: 1;
  background: var(--icon-play);
}

.c-curves-button--diagnosis {
  font-size: 1.3rem;
  text-shadow: var(--text-black-shadow);
}

.c-slider-wrapper--negative-margin {
  margin-block-start: -50px;
}

.c-slider-wrapper--reviews {
  margin-block-start: -140px;
}

.c-curves-button--monitor {
  inline-size: fit-content;
  column-gap: 10px;
  font-size: 1.8rem;
}

/* Swiper */
.swiper-wrapper {
  transition-timing-function: linear;
}

.swiper-pagination-bullet {
  inline-size: 11px;
  block-size: 11px;
}

.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  background: var(--color-grayscale-0);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: var(--color-pinkscale-250);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: '';
  justify-self: end;
  inline-size: 1em;
  aspect-ratio: 1;
  background: var(--slider-arrow-right) no-repeat center / cover;
}

.swiper-button-next,
.swiper-button-prev {
  inline-size: 45px;
  block-size: 45px;
  inset-block-start: 32%;
}

.swiper-button-next {
  inset-inline-end: 0;
}

.swiper-button-prev {
  inset-inline-start: 0;
  rotate: 180deg;
}

/* ----- layout ----- */
.l-header {
  position: sticky;
  inset-block-start: 0;
  background-color: var(--color-grayscale-0);
  z-index: var(--menu-z-index);
}

.l-header__ineer {
  --_areas: "logo shop cta hamburger";
  display: grid;
  grid-template: var(--_areas) / auto auto auto 1fr;
  align-items: center;
  justify-items: center;
  block-size: 54px;
}

.l-header__logo {
  grid-area: logo;
  padding-inline: 16px 24px;
}

.l-header__shop {
  grid-area: shop;
  display: inline-grid;
  grid-template-columns: 1fr auto;
  column-gap: 1cap;
  align-items: center;
  block-size: 100%;
  padding-inline: 8px 13px;
  background-image: linear-gradient(var(--blue-gradation));
  color: var(--color-grayscale-0);
  font-size: 1rem;
  font-weight: var(--font-bold);
}

.l-header__shop::before {
  content: "";
  justify-self: end;
  inline-size: 2em;
  aspect-ratio: 1;
  background: var(--icon-shop);
}

.l-header__cta {
  grid-area: cta;
  display: inline-grid;
  grid-template-columns: auto 1fr;
  column-gap: 1cap;
  align-items: center;
  block-size: 100%;
  padding-inline: 13px 8px;
  background-image: linear-gradient(var(--pink-gradation));
  color: var(--color-grayscale-0);
  font-size: 1.3rem;
  font-weight: var(--font-bold);
}

.l-header__cta::after {
  content: "";
  justify-self: end;
  inline-size: 2em;
  aspect-ratio: 1;
  background: var(--arrow-pink);
}

.l-header__cta-text {
  display: grid;
}

.l-header__cta-small {
  font-size: 1rem;
}

.l-header__hamburger {
  grid-area: hamburger;
}

.l-hamburger {
  position: relative;
  display: grid;
  place-items: center;
  inline-size: 25px;
  border: unset;
  aspect-ratio: 1;
}

.l-hamburger__line {
  position: relative;
  inline-size: 100%;
  border-block-end: 2px solid;
  writing-mode: initial;
}

.l-hamburger__line::before,
.l-hamburger__line::after {
  content: "";
  position: absolute;
  inset: 0;
  border-block-end: 2px solid;
  transition: translate var(--speed-quick);
}

.l-hamburger__line::before {
  translate: 0 -8px;
}

.l-hamburger__line::after {
  translate: 0 8px;
}

.l-button-wrap {
  display: grid;
  gap: 10px;
  justify-content: center;
  padding-inline: 25px;
}

.l-diagnosis {
  padding: 0 20px 28px;
}

.l-diagnosis__item {
  display: none;
  padding: 13px 17px 17px 13px;
  background-color: var(--color-grayscale-0);
  box-shadow: var(--gray-shadow);
}

.l-diagnosis__item.active {
  display: block;
}

.l-diagnosis__item-inner--question {
  display: grid;
}

.l-diagnosis__item-content > * {
  inline-size: fit-content;
  margin-inline: auto;
}

.l-diagnosis__item-content {
  position: relative;
  display: grid;
  justify-content: center;
  padding: 36px 16px 0;
  border: .4px solid var(--border-black);
  font-style: italic;
}

.l-diagnosis__item-content--opening {
  gap: 15px;
  padding: 36px 16px 28px;
}

.l-diagnosis__item-content--question {
  grid-template-rows: subgrid;
  grid-row: span 6;
}

.l-diagnosis__item-content::after {
  content: '';
  position: absolute;
  top: 4px;
  right: -2.6px;
  width: 100%;
  height: 100%;
  border: .4px solid var(--border-black);
}

.l-diagnosis__opening {
  padding: 1px 14px;
  border-radius: var(--rounded-s);
  background-image: linear-gradient(var(--pink-gradation));
  color: var(--color-grayscale-0);
  font-weight: var(--font-medium);
  font-size: 1.3rem;
  font-style: normal;
}

.l-diagnosis__item-title {
  inline-size: fit-content;
  margin-inline: auto;
  color: var(--color-bluescale-100);
  font-family: var(--font-sans-serif);
  font-weight: var(--font-medium);
  font-size: 2rem;
  text-align: center;
}

.l-diagnosis__opening-image {
  inline-size: 80px;
}

.l-diagnosis__button-container {
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 13px;
  inline-size: 100%;
  margin-block-end: 10px;
  z-index: var(--front-z-index);
}

.l-diagnosis__start-button {
  z-index: var(--front-z-index);
}

.l-diagnosis__number {
  inline-size: max(98px);
  margin-block-end: 10px;
}

.l-diagnosis__item-image {
  display: grid;
  align-items: end;
  block-size: 120px;
}

.l-diagnosis__item-image--one {
  inline-size: 153px;
}

.l-diagnosis__item-image--two {
  inline-size: 102px;
}

.l-diagnosis__item-image--three {
  inline-size: 95px;
}

.l-diagnosis__item-image--four {
  inline-size: 97px;
}

.l-diagnosis__item-image--five {
  inline-size: 129px;
}

.l-diagnosis__item-image--six {
  inline-size: 160px;
}

.l-diagnosis__answer-button {
  display: grid;
  align-content: center;
  block-size: 70px;
  inline-size: 130px;
  border-radius: var(--rounded-m);
  box-shadow: var(--gray-medium-shadow-button);
  font-family: var(--font-sans-serif);
  font-weight: var(--font-medium);
  font-size: 1.3rem;
  color: var(--color-bluescale-100);
  text-align: center;
  letter-spacing: var(--tracking-medium);
}

.l-diagnosis__answer-button.inactive {
  background-color: var(--color-grayscale-10);
  color: var(--color-grayscale-0);
  scale: 0.8;
}

.l-diagnosis__answer-button--pink {
  background-color: var(--color-pinkscale-100);
}

.l-diagnosis__answer-button--blue {
  background-color: var(--color-blue-light);
}

.l-diagnosis__answer-en {
  font-size: 2.5rem;
  line-height: var(--leading-tight);
}

.l-diagnosis__count {
  font-size: 1.2rem;
  letter-spacing: var(--tracking-medium);
}

.l-diagnosis__count-number {
  color: var(--color-bluescale-100);
  font-family: var(--font-sans-serif);
  font-size: 2.8rem;
}

.l-diagnosis__next-button {
  display: none;
  inline-size: auto;
  font-family: var(--font-sans-serif);
  font-size: 1.7rem;
  color: var(--color-bluescale-100);
  text-align: end;
  letter-spacing: var(--tracking-medium);
}

.l-diagnosis__next-button--last {
  display: none;
  font-size: 1.4rem;
}

.l-diagnosis__next-button--last.active {
  display: inline-block;
}

.l-diagnosis__prev-button {
  display: none;
  font-family: var(--font-sans-serif);
  font-size: 1.4rem;
  color: var(--color-grayscale-50);
}

.l-diagnosis__button-container--move {
  align-items: end;
}

.l-diagnosis__button-container--first {
  grid-template-columns: auto;
}

.l-diagnosis__next-button.active,
.l-diagnosis__prev-button.active {
  display: grid;
}

.l-diagnosis__result-title {
  margin-block-end: 10px;
  padding: 4px 10px;
  background-image: linear-gradient(var(--purple-gradation));
  border-radius: var(--rounded-s);
  color: var(--color-grayscale-0);
  font-size: 1.3rem;
}

.l-diagnosis__result-item {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 10px;
  align-items: center;
  inline-size: fit-content;
  margin-inline: auto;
  font-family: var(--font-sans-serif);
  font-style: italic;
  font-size: 1.5rem;
}

.l-diagnosis__result-item::before {
  content: "";
  justify-self: end;
  inline-size: 1em;
  aspect-ratio: 1;
}

.l-diagnosis__result-item--one {
  background-image: linear-gradient(var(--gold-gradation));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.3rem;
}

.l-diagnosis__result-item--two {
  color: var(--color-grayscale-600);
}

.l-diagnosis__result-item--three {
  color: var(--color-brownscale-100);
}

.l-diagnosis__result-item--one::before {
  background: var(--icon-ranking01);
}

.l-diagnosis__result-item--two::before {
  background: var(--icon-ranking02);
}

.l-diagnosis__result-item--three::before {
  background: var(--icon-ranking03);
}

.l-diagnosis__result-number--one {
  font-size: 1.7rem;
}

.l-diagnosis__result-rank {
  display: grid;
  gap: 5px;
  margin-block-end: 12px;
}

.l-diagnosis__item-image--result {
  block-size: auto;
  inline-size: 160px;
  margin-block-end: 20px;
}

.l-diagnosis__result-text {
  margin-block-end: 25px;
  color: var(--color-bluescale-100);
  font-size: 1.2rem;
  font-family: var(--font-sans-serif);
  text-align: center;
}

.l-diagnosis__result-small-text {
  font-size: 1rem;
}

.l-diagnosis__result-link {
  font-weight: var(--font-bold);
  text-decoration-line: revert;
}

.l-diagnosis__item-content--result {
  padding: 36px 16px 30px;
}

.l-drawer {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: unset;
  inset-inline-end: 0;
  display: grid;
  max-inline-size: 320px;
  block-size: fit-content;
  margin: unset;
  background-color: var(--color-grayscale-0);
  box-shadow: unset;
  translate: 101%;
  transition: translate var(--speed-normal);
}

.l-drawer[data-active=true] {
  box-shadow: var(--menu-black-shadow);
  translate: 0;
}

.l-drawer__header {
  --_areas: "logo sns close";
  display: grid;
  grid-template: var(--_areas) / 2fr auto 1fr;
  align-items: center;
  justify-items: center;
  padding-block-start: 20px;
}

.l-drawer__close-button {
  --_rotate: 45deg;
  display: inline-grid;
  grid-template-areas: "stack";
  place-items: center;
  block-size: 20px;
  aspect-ratio: 1;
  color: var(--color-grayscale-60);
}

.l-drawer__close-button::before,
.l-drawer__close-button::after {
  content: "";
  grid-area: stack;
  inline-size: 20px;
  border-block-end: 2px solid;
}

.l-drawer__close-button::before {
  rotate: 45deg;
}

.l-drawer__close-button::after {
  rotate: -45deg;
}

.l-drawer__logo {
  grid-area: logo;
  margin-inline: unset;
}

.l-drawer__service-list {
  grid-area: sns;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
}

.l-drawer__close-button-wrapper {
  grid-area: close;
}

.l-drawer__menu {
  padding-block-end: 30px;
  font-family: var(--font-sans-serif);
  font-size: 1.4rem;
}

.l-drawer__menu-link {
  display: grid;
  padding: 20px 33px;
  border-block-end: .3px solid var(--color-grayscale-5);
}

.l-drawer__menu-link--no-border {
  border-block-end: revert;
}

.l-mv-wrapper {
  contain: content;
}

.l-mv__image {
  position: absolute;
  inset-block-start: 20px;
  inset-inline: 0;
  inline-size: 95%;
  margin-inline: auto;
  overflow: hidden;
}

.l-mv__image::before {
  content: '';
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: -75%;
  inline-size: 50%;
  block-size: 100%;
  background-image: linear-gradient(var(--shine-animation-gradation));
  transform: skewX(-25deg);
  animation: shine 1.5s;
}

.l-thinning-hair {
  display: grid;
  gap: 50px;
  margin-block-end: 27px;
  padding: 37px 8px 16px;
  background: url('../images/thinning-hair-to-date.webp') no-repeat center / cover;
}

.l-thinning-hair__title,
.l-thinning-hair__small-title {
  inline-size: fit-content;
  margin: auto;
  font-weight: var(--font-normal);
}

.l-thinning-hair__title {
  position: relative;
  color: var(--color-bluescale-100);
  font-family: var(--font-sans-serif);
  font-size: 3rem;
}

.l-thinning-hair__title::after {
  content: '';
  position: absolute;
  inset-block-end: -23%;
  block-size: 7.5px;
  inline-size: 100%;
  background: var(--underline) no-repeat center / contain;
}

.l-thinning-hair__small-title {
  color: var(--color-grayscale-400);
  font-size: 1.8rem;
}

.l-thinning-hair__list {
  display: grid;
  grid-template-areas:
  "01 02"
  "03 04";
  gap: 132px 22px;
}

.l-thinning-hair__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 22px;
  background-color: var(--color-grayscale-0);
  border-radius: var(--rounded-m);
  box-shadow: var(--gray-light-shadow);
	backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  font-size: 1.2rem;
  text-align: center;
}

.l-thinning-hair__item::before {
  content: '';
  position: absolute;
  inset-block-start: -10px;
  inset-inline: 0;
  display: grid;
  justify-self: end;
  block-size: 21px;
  inline-size: 21px;
  margin: auto;
  background: var(--icon-check) no-repeat center / contain;
  aspect-ratio: 1;
}


.l-thinning-hair__accent {
  background: linear-gradient(transparent 60%, var(--color-blue-light) 40%);
  inline-size: fit-content;
  margin: 0 auto;
  color: var(--color-bluescale-100);
  font-size: 1.5rem;
}

.l-thinning-hair__accent--no-border {
  background: unset;
}

.l-advice {
  display: grid;
  gap: 30px;
  padding-block-end: 213px;
  background: url(../images/advice-bg.png) no-repeat bottom center / contain;
}

.l-advice__title-wrapper {
  font-family: var(--font-sans-serif);
  text-align: center;
}

.l-advice__title-image {
  margin-block-end: 10px;
}

.l-advice__title-gold {
  color: var(--color-gold);
  font-weight: var(--font-medium);
  font-size: 3.7rem;
  letter-spacing: var(--tracking-normal);
}

.l-advice__title-gold::after {
  content: '';
  display: grid;
  block-size: 11px;
  background: var(--gold-underline) no-repeat center / contain;
}

.l-advice__title-text {
  font-size: 2.8rem;
  font-weight: var(--font-medium);
  letter-spacing: var(--tracking-normal);
}

.l-advice__title-small-text {
  font-size: 2.3rem;
}

.l-advice__point {
  display: grid;
  gap: 15px;
  padding-inline: 16px;
}

.l-advice__point-item {
  position: relative;
  padding: 18px 18px 10px;
  background-color: var(--color-grayscale-0);
}

.l-advice__point-item::before {
  content: '';
  position: absolute;
  inset-block-start: -10px;
  inset-inline: 0;
  display: grid;
  justify-self: end;
  block-size: 27px;
  inline-size: 27px;
  margin: auto;
  aspect-ratio: 1;
}

.l-advice__point-item--one::before {
  background: var(--icon-point01) no-repeat center / contain;
}

.l-advice__point-item--two::before {
  background: var(--icon-point02) no-repeat center / contain;
}

.l-advice__point-item--three::before {
  background: var(--icon-point03) no-repeat center / contain;
}

.l-advice__point-title {
  margin-block-end: 10px;
  padding-block-end: 5px;
  border-bottom: 0.5px solid var(--color-grayscale-5);
  color: var(--color-gold);
  font-family: var(--font-sans-serif);
  font-weight: var(--font-medium);
  font-size: 2rem;
  text-align: center;
}

.l-advice__point-text {
  font-size: 1.1rem;
  text-align: center;
  line-height: var(--leading-tight);
}

.l-advice__point-text-small {
  display: inline-block;
  font-size: 0.8rem;
}

.l-point {
  position: relative;
  margin-block-start: -25px;
}

.l-point__float-image {
  position: absolute;
  inset-block-end: -47px;
  inset-inline-end: 0;
  inline-size: 170px;
}

.l-about {
  margin-block-start: -60px;
  padding-block: 80px;
  background-image: linear-gradient(var(--pink-gradation-180deg));
}

.l-about__title {
  color: var(--color-grayscale-0);
  font-family: var(--font-sans-serif);
  font-weight: var(--font-medium);
  font-size: 3.2rem;
  text-align: center;
}

.l-about__board-text {
  color: var(--color-bluescale-90);
  font-size: 1.6rem;
}

.l-about__board-small-text {
  font-size: 1.4rem;
}

.l-about__board-large-text {
  display: grid;
  font-size: 2rem;
}

.l-about__board {
  position: relative;
}

.l-about__board-text {
  position: absolute;
  display: grid;
  inset: 18% 0;
  margin: auto;
  text-align: center;
}

.l-about__board-border,
.yellow-border {
  background: linear-gradient(transparent 60%, var(--color-yello) 40%);
  inline-size: fit-content;
  margin: 0 auto;
}

.l-experience {
  inline-size: 320px;
  block-size: 300px;
  margin: -50px auto;
}

.l-experience__slider {
  position: relative;
  inline-size: 100%;
  block-size: 100%;
}

.l-experience__slider-image {
  position: absolute;
  inset-block-start: 0;
  inset-inline: 0;
  inline-size: 100%;
  block-size: 100%;
  margin: auto;
  background-size: cover;
  background-position: center;
}

.l-experience__slider-image--before {
  background-image: url('../images/experience-before.webp');
  clip: rect(0, 800px, 200px, 0); /* 下半分を表示 */
}

.l-experience__slider-image--after {
  background-image: url('../images/experience-after.webp');
  clip: rect(150px, 800px, 500px, 0); /* 上半分を表示 */
}

.l-experience__slider-handle {
  position: absolute;
  inset-block-start: 40%;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 40px;
  cursor: ns-resize;
  background: var(--slider-handle) no-repeat center / cover;
  scale: 1.2;
}

.l-experience__slider-handle::after {
  content: '';
  position: absolute;
  inset-block-end: -60px;
  inset-inline-end: 15px;
  display: grid;
  justify-self: end;
  block-size: 60px;
  inline-size: 35px;
  margin: auto;
  aspect-ratio: 1;
  background: var(--slider-pointer) no-repeat center / contain;
  animation: float 2s ease-in-out infinite;
}

.l-experience__slider-handle.hidden::after {
  display: none;
}

.l-duration {
  display: grid;
  gap: 20px;
  padding-block: 20px 50px;
  font-size: 1.5rem;
  line-height: 1.6;
  text-align: center;
}

.l-duration__large {
  font-size: 2rem;
}

.l-duration__image {
  padding-inline: 60px;
}

.l-duration__block-text {
  display: block;
}

.l-side-effect__titile-wrapper {
  display: grid;
  gap: 10px;
  inline-size: fit-content;
  margin: auto;
  font-family: var(--font-sans-serif);
  text-align: center;
}

.l-side-effect__blue-text {
  color: var(--color-grayscale-300);
  font-size: 1.7rem;
}

.l-side-effect__titile {
  color: var(--color-bluescale-90);
  font-weight: var(--font-medium);
  font-size: 3rem;
  line-height: var(--leading-tight);
}

.l-side-effect__text {
  color: var(--color-bluescale-90);
  font-size: 1.3rem;
}

.l-side-effect__inner {
  position: relative;
  margin-block-end: 160px;
}

.l-side-effect__titile-wrapper {
  position: absolute;
  inset-block-end: -50%;
  inset-inline: 0;
  padding: 50px 35px;
  background: var(--side-effect-title-bg) no-repeat center / cover;
}

.l-side-effect__chart {
  position: relative;
  max-inline-size: 85%;
  margin: auto;
}

.l-side-effect__art-chart {
  position: absolute;
  inset-block-start: -21px;
  inset-inline-start: 16%;
  inline-size: calc(97 / 390* 100%);
}

.l-introduction {
  padding-block: 63px 30px;
  background: linear-gradient(var(--gold-background-gradation));
  font-family: var(--font-sans-serif);
}

.l-introduction__text {
  inline-size: fit-content;
  margin: 0 auto 30px;
  color: var(--color-bluescale-90);
  font-size: 1.6rem;
  text-align: center;
}

.l-introduction__title-wrapper {
  background: var(--ladys-only) no-repeat center / contain;
}

.l-introduction__title {
  inline-size: fit-content;
  margin: auto;
  font-size: 3.3rem;
  background: linear-gradient(var(--gold-text-gradation));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.l-introduction__feature {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 5px;
  inline-size: 90%;
  margin: -30px auto 10px;
}

.l-introduction__feature-item {
  display: grid;
  min-block-size: 114px;
  background-color: var(--color-grayscale-0);
  box-shadow: var(--gray-shadow-button);
  text-align: center;
}

.l-introduction__feature-belt {
  margin-inline: calc(35% - 10.5vw);
  margin-block-start: 7px;
  padding-block: 2.5px;
  font-size: 1rem;
  background-color: var(--color-gold);
  color: var(--color-grayscale-0);
  text-shadow: 0 0 5.5px;
}

.l-introduction__feature-text {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background: linear-gradient(var(--gold-text-heavy-gradation));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: var(--leading-tight);
}

.l-introduction__feature-inner {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 5px;
  margin: 5px;
  border: 0.6px solid var(--border-gold);
}

.l-program__movie {
  inline-size: 100%;
  aspect-ratio: 4 / 3;
}

.l-program__top {
  display: grid;
  gap: 20px;
  padding-block: 40px 70px;
  background: url(../images/program-bg.webp) no-repeat top center / cover;
  color: var(--color-grayscale-0);
  font-family: var(--font-sans-serif);
  text-shadow: 0 4px 13px;
}

.l-program__top-sub-text {
  font-size: 1.8rem;
}

.l-program__top-title {
  font-weight: var(--font-medium);
  font-size: 3.1rem;
  line-height: var(--leading-tight);
}

.l-program__top-text {
  font-size: 2.4rem;
}

.l-program__top-sub-text,
.l-program__top-title,
.l-program__top-text {
  inline-size: fit-content;
  margin: auto;
  text-align: center;
}

.l-curves {
  margin-left: -100px;
  margin-right: -100px;
  padding-left: 100px;
  padding-right: 100px;
  border-bottom-left-radius: 1000px 300px;
  border-bottom-right-radius: 1000px 300px;
}

.l-contents {
  margin-block-start: -50px;
}

.l-reviews {
  position: relative;
  margin-block-start: 50px;
  background: url(../images/reviews-bg.webp) no-repeat top center / cover;
  font-family: var(--font-sans-serif);
}

.l-reviews__text {
  inline-size: fit-content;
  margin-inline: auto;
  margin-block-end: 10px;
  color: var(--color-brownscale-50);
  font-size: 1.7rem;
  text-align: center;
}

.slash-text {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
}

.slash-text::before,
.slash-text::after {
  content: "";
  justify-self: end;
  inline-size: 1.5em;
  aspect-ratio: 1;
}

.slash-text--brown::before {
  background: var(--slash-left-brown) no-repeat center /contain;
}

.slash-text--brown::after {
  background: var(--slash-right-brown) no-repeat center /contain;
}

.slash-text--white::before {
  background: var(--slash-left-white) no-repeat center /contain;
}

.slash-text--white::after {
  background: var(--slash-right-white) no-repeat center /contain;
}

.l-reviews__large-text {
  inline-size: fit-content;
  margin-inline: auto;
  padding: 6px 40px;
  background: linear-gradient(var(--pink-yellow-gradation-180deg));
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  color: var(--color-grayscale-0);
  font-size: 3rem;
  text-align: center;
}

.l-reviews__image {
  margin-block-start: -40px;
}

.l-reviews__search {
  position: absolute;
  inset-inline: 0;
  inset-block-end: -20px;
  inline-size: 70%;
  margin: auto;
  z-index: 1;
}

.l-monitor {
  position: relative;
  background: url(../images/monitor-wanted-bg.webp) no-repeat center / cover;
}

.l-monitor__belt {
  position: absolute;
  inset-block-start: -50px;
  inset-inline: 0;
  inline-size: 100%;
}

.l-monitor__inner {
  inline-size: 90%;
  margin-inline: auto;
  padding-block: 20px;
}

.l-monitor__contents {
  padding: 50px 20px 17px;
  background-color: var(--color-grayscale-0);
}

.l-monitor__logo {
  display: grid;
  justify-content: center;
  margin-block-end: 15px;
}

.l-monitor__text {
  margin-block-end: 10px;
}

.l-monitor__feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 5px;
  margin-block-end: 12px;
  text-align: center;
}

.l-monitor__feature-item {
  display: grid;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid;
  color: var(--color-grayscale-100);
  font-size: 1.6rem;
}

.l-monitor__feature-item:first-child {
  font-size: 1.4rem;
}

.l-monitor__feature-item:nth-child(3) {
  grid-auto-flow: column;
  font-size: 1.1rem;
}

.l-monitor__feature-item-comment {
  font-size: 0.6rem;
}

.l-monitor__cta-button {
  margin-block-end: 12px;
}

.l-monitor__feature-annotation {
  inline-size: fit-content;
  margin: 0 auto 8px;
  color: var(--color-grayscale-800);
  font-size: 1.1rem;
}

.l-monitor__feature-small-annotation {
  font-size: 0.8rem;
  text-align: center;
}

.l-five-reasons__intro {
  background: url(../images/five-reasons-intro.webp) no-repeat center / contain;
  aspect-ratio: 2 / 1;
}

.l-five-reasons__inner {
  background-color: var(--color-bluescale-90);
}

.l-five-reasons__point-title {
  display: grid;
  gap: 10px;
  color: var(--color-grayscale-0);
  font-family: var(--font-sans-serif);
  font-weight: var(--font-medium);
  font-size: 1.7rem;
  text-align: center;
}

.l-five-reasons__point-line {
  padding-block: 4px;
  background: linear-gradient(var(--gold-gradation-90deg));
  border-radius: var(--rounded-xs);
  color: var(--color-grayscale-0);
  font-size: 1.1rem;
  text-align: center;
}

.l-five-reasons__point-item {
  display: grid;
  gap: 5px;
  padding: 13px 13px 5px;
  background-color: var(--color-grayscale-0);
  border-radius: var(--rounded-s);
  box-shadow: 0 0 5px 3px var(--color-grayscale-0);
}

.l-five-reasons__point-item::after {
  content: "";
  justify-self: end;
  inline-size: 2em;
  aspect-ratio: 1;
  background: var(--arrow-blue) no-repeat center / contain;
}

.l-five-reasons__point-span2 {
  grid-column: span 2;
  justify-self: center;
}

.l-five-reasons__point-text {
  font-size: 1.6rem;
  color: var(--color-gold);
  text-align: center;
}

.l-five-reasons__point-number {
  inline-size: fit-content;
  max-inline-size: 60px;
  margin: auto;
  text-align: center;
}

.l-five-reasons__point-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

.l-five-reasons__point {
  display: grid;
  gap: 20px;
  padding: 7px 20px 33px;
}

.l-five-reasons__item {
  display: grid;
  gap: 15px;
}

.l-five-reasons__item-number {
  max-inline-size: 66px;
  inline-size: fit-content;
  margin: auto;
}

.l-five-reasons__item-title {
  inline-size: fit-content;
  margin: auto;
  color: var(--color-bluescale-90);
  font-family: var(--font-sans-serif);
  font-size: 2.4rem;
  font-weight: var(--font-medium);
  text-align: center;
}

.l-five-reasons__item-title--medium {
  font-size: 2.2rem;
}

.l-five-reasons__item-sub-title {
  font-size: 1.8rem;
}

.l-five-reasons__item-small-title {
  font-size: 1.9rem;
}

.l-five-reasons__item-text {
  display: grid;
  gap: 10px;
  inline-size: fit-content;
  margin: auto;
  padding-block-end: 20px;
  color: var(--color-grayscale-400);
  font-size: 1.4rem;
  text-align: center;
}

.pink-border {
  background: linear-gradient(transparent 60%, var(--color-pinkscale-150) 40%);
  inline-size: fit-content;
  margin: 0 auto;
}

.l-five-reasons__list {
  display: grid;
  gap: 40px;
  padding-block: 27px;
}

.l-five-reasons__item-dl {
  display: grid;
  gap: 10px;
}

.l-five-reasons__item-dd {
  margin-inline-start: unset;
  color: var(--color-medium-gold);
  font-size: 2.5rem;
  font-family: var(--font-sans-serif);
}

.l-five-reasons__item-dt {
  color: var(--color-grayscale-400);
  font-size: 1.2rem;
}

.l-five-reasons__item-environment {
  padding-block: 17px;
  border-bottom: 1px solid var(--border-light-gold);
}

.l-five-reasons__item-environment-inner {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 20px;
}

.l-five-reasons__item-environment-inner--one {
  background: var(--number-one) no-repeat left 75px center / contain;
}

.l-five-reasons__item-environment-inner--two {
  background: var(--number-two) no-repeat left 75px center / contain;
}

.l-five-reasons__item-environment-inner--three {
  background: var(--number-three) no-repeat left 75px center / contain;
}

.l-five-reasons__item-environmen-image {
  inline-size: calc(370 / 390* 100%);
}

.l-five-reasons__item-price {
  max-inline-size: 242px;
  margin: auto;
}

.l-five-reasons__outro-top {
  color: var(--color-brownscale-200);
  font-family: var(--font-sans-serif);
  font-size: 2.5rem;
  text-align: center;
}

.l-five-reasons__outro-top-accent {
  font-size: 3.6rem;
  background: linear-gradient(var(--gold-light-gradation-90deg));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.l-five-reasons__outro-bottom {
  padding-block-start: 20px;
  color: var(--color-brownscale-200);
  font-family: var(--font-sans-serif);
  font-size: 2.2rem;
  text-align: center;
}

.l-five-reasons {
  margin-block-end: 40px;
}

.l-anxiety__image {
  margin-block: -15px 24px;
}

.l-anxiety__greeting-top,
.l-anxiety__greeting-bottom {
  inline-size: fit-content;
  margin: auto;
  color: var(--color-brownscale-150);
  font-family: var(--font-sans-serif);
  font-size: 2.8rem;
  text-align: center;
}

.l-anxiety__greeting-bottom-small {
  font-size: 2.1rem;
}

.l-anxiety__greeting-top {
  margin-block-end: 10px;
}

.l-anxiety__greeting-bottom {
  margin-block-end: 20px;
  line-height: var(--leading-tight);
}

.l-anxiety__list {
  display: grid;
  gap: 15px;
  padding-block-end: 50px;
}

.l-anxiety__contents {
  padding-block-end: 30px;
  background: url(../images/anxiety-bg.webp) no-repeat center / cover;
}

.l-anxiety__text {
  inline-size: fit-content;
  margin: auto;
  color: var(--color-brownscale-150);
  font-family: var(--font-sans-serif);
  font-size: 1.9rem;
  text-align: center;
}

.l-anxiety__desc-text-wrapper {
  display: grid;
  gap: 15px;
  inline-size: fit-content;
  margin: auto;
  font-size: 1.3rem;
  font-family: var(--font-sans-serif);
  font-weight: var(--font-bold);
  color: var(--color-grayscale-400);
}

.l-anxiety__desc-text-accent {
  color: var(--color-normal-gold);
}

.l-anxiety__desc {
  display: grid;
  gap: 25px;
  padding-block-end: 32px;
}

.l-voice__title {
  inline-size: fit-content;
  margin: auto;
  text-shadow: var(--text-white-shadow);
  color: var(--color-grayscale-0);
  font-weight: var(--font-medium);
  font-size: 3.6rem;
  font-family: var(--font-sans-serif);
  text-align: center;
}

.l-voice__sub-title {
  font-size: 2.5rem;
}

.l-voice {
  padding-block: 57px 37px;
  background: url(../images/voice-bg.webp) no-repeat center / cover;
}

.l-voice__slider {
  inline-size: 91%;
}

.l-voice__inner {
  position: relative;
  display: grid;
  gap: 30px;
}

.l-voice__item {
  background-color: var(--color-grayscale-0);
  box-shadow: var(--slider-black-shadow);
}

.l-voice__item-title {
  color: var(--color-brownscale-200);
  font-size: 1.7rem;
  font-family: var(--font-sans-serif);
}

.l-voice__item-valuation {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding-block-end: 10px;
  border-bottom: 1px solid var(--border-light-gold);
}

.l-voice__item-valuation-star {
  inline-size: calc(194 / 390* 100%);
}

.l-voice__item-valuation-age {
  color: var(--color-grayscale-600);
  font-size: 1.5rem;
  font-weight: var(--font-bold);
}

.l-voice__item-text {
  display: grid;
  gap: 20px;
  font-size: 1.2rem;
  font-weight: var(--font-bold);
}

.l-voice__item-inner {
  display: grid;
  gap: 10px;
  padding: 10px 17px 50px;
}

.l-parts__title {
  inline-size: fit-content;
  margin: auto;
  padding-block-end: 20px;
  font-size: 3.1rem;
  background: linear-gradient(var(--pink-orange-gradation));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.l-parts__title-image {
  inline-size: 54%;
  margin: auto;
}

.l-parts {
  padding-block: 10px 58px;
}

.l-parts__tab-button {
  padding: 1px 10px;
  background-color: var(--color-pinkscale-250);
  color: var(--color-grayscale-0);
  font-size: 1.9rem;
}

.l-parts__tab-button.active {
  color: var(--color-pinkscale-250);
  background-color: var(--color-pinkscale-50);
}

.l-parts__tab-button-small {
  font-size: 1.2rem;
}

.l-parts__tab-buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 12px;
}

.l-parts__tab-content-text {
  inline-size: fit-content;
  margin: auto;
  font-size: 1.6rem;
  text-align: center;
}

.l-parts__tab-content {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, transform 0.5s;
}

.l-parts__tab-content.active {
  display: grid;
  gap: 34px;
  padding: 46px 20px;
  background-color: var(--color-pinkscale-50);
  opacity: 1;
  visibility: visible;
}

.l-price__text {
  inline-size: fit-content;
  margin: auto;
  font-size: 2.2rem;
  font-weight: var(--font-bold);
  color: var(--color-bluescale-50);
  text-align: center;
}

.l-price-_desc-wrapper {
  padding-block-start: 50px;
  background: url(../images/price-bg.webp) no-repeat center / cover;
}

.l-price__desc-image {
  margin-block-start: -30px;
}

.l-price {
  margin-block-end: 67px;
}